@using MSHRCS.BusinessLogic.DataModel
@using MSHRCS.Presentation.Helpers
@using MSHRCS.Presentation.Models
@model MSHRCS.Presentation.Models.LogInUserViewModel
@{
    ViewBag.Title = "Вход";
    ViewContext.FormContext = new FormContext();
}

<div class="login-margin">
    <form id="logInUserForm" role="form">
        <div class="form-inline">
            <label for="userSelector">Учетная запись</label>
            <select class="form-control" id="userSelector" name="UserId">
                @foreach (User user in ViewBag.Users)
                {
                    <option value="@user.Id">@user.Name </option>
                }
            </select>
        </div>
        <div class="form-inline">
            @Html.LabelFor(model => model.Password)
            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="form-inline">
            @Html.LabelFor(model => model.RememberMe)
            @Html.CheckBoxForJson(model => model.RememberMe)
            @*            <input type="checkbox" class="checkbox" name="RememberMe"/>*@
            @*                        @Html.CheckBoxFor(model => model.RememberMe, new { @class = "checkbox" })*@
            @*            @Html.CheckBox("RememberMe", false)*@
        </div>
        <div>
            <button type="submit" id="logInButton" class="btn btn-primary">Войти</button>
        </div>
    </form>
</div>

<script type="text/javascript" src="@Url.Content("../../Scripts/LogIn.js")"></script>
