@model MSHRCS.BusinessLogic.DataModel.GDCabinet

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>GDCabinet</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.GDId, "GroupDiscipline")
        </div>
        <div class="editor-field">
            @Html.DropDownList("GDId", String.Empty)
            @Html.ValidationMessageFor(model => model.GDId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CabinetId, "Cabinet")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CabinetId", String.Empty)
            @Html.ValidationMessageFor(model => model.CabinetId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LessonId, "Lesson")
        </div>
        <div class="editor-field">
            @Html.DropDownList("LessonId", String.Empty)
            @Html.ValidationMessageFor(model => model.LessonId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubstituteDGId, "SubstitutedGroupDiscipline")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SubstituteDGId", String.Empty)
            @Html.ValidationMessageFor(model => model.SubstituteDGId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LessonTypeId, "LessonType")
        </div>
        <div class="editor-field">
            @Html.DropDownList("LessonTypeId", String.Empty)
            @Html.ValidationMessageFor(model => model.LessonTypeId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
