@model MSHRCS.BusinessLogic.DataModel.GroupDiscipline
@{
    ViewBag.Title = "Новый предмет в группе";
}

<div class="col-md-8 col-md-offset-2">
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.GroupId)
    @Html.HiddenFor(model => model.DisciplineId)
    <fieldset>
        <legend>Новый предмет в группе</legend>
        <div>
            <table class="new-object-table">
                <tbody>
                    <tr>
                        <td class="field-name">@Html.Label("GroupIdTextBox", "Группа")</td>
                        <td class="field-value">@Html.TextBox("GroupIdTextBox", String.Empty, new { @class = "form-control twitter-typeahead" })</td>
                        <td class="field-validation-error">@Html.ValidationMessageFor(model => model.GroupId)</td>
                    </tr>
                    <tr>
                        <td class="field-name">@Html.Label("DisciplineIdTextBox", "Дисциплина")</td>
                        <td class="field-value">@Html.TextBox("DisciplineIdTextBox", String.Empty, new { @class = "form-control twitter-typeahead" })</td>
                        <td class="field-validation-error">@Html.ValidationMessageFor(model => model.DisciplineId)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="margin-top">
            <table class="new-object-table" id="teacherTable">
                <thead>
                    <tr>
                        <td colspan="4" class="text-center"><b>Преподаватели</b></td>
                    </tr>
                    <tr class="margin-top">
                        <td class="text-center"><b>ФИО</b></td>
                        <td class="text-center"><b>Тип</b></td>
                        <td class="text-center"><b>Часы</b></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @Html.Hidden(Guid.NewGuid().ToString(), String.Empty, new { @class = "typeahed-teacher-id" })
                        <td class="field-value">@Html.TextBox("TeacherIdTextBox", String.Empty, new { @class = "form-control twitter-typeahead" })</td>
                        <td class="field-lesson-type">@Html.DropDownList("LessonTypeId", (IEnumerable<SelectListItem>)ViewBag.LessonTypes, new { @class = "form-control teacher-lesson-type" })</td>
                        <td class="field-hours">@Html.TextBox("TeacherHours", String.Empty, new { @class = "form-control teacher-hours" })</td>
                        <td>
                            <button class="btn btn-default" id="addTeacher" type="button"><span class="glyphicon glyphicon-plus"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="margin-top">
            @Html.ActionLink("Назад к списку", "Index", "GroupDiscipline", new { @class = "btn btn-default" })
            <input type="button" id="submit" value="Создать" class="btn btn-primary pull-right" />
        </div>
    </fieldset>
</div>


<script src="@Url.Content("~/Scripts/createGroupDiscipline.js")" type="text/javascript"></script>
