@using MSHRCS.BusinessLogic
@model IEnumerable<MSHRCS.Presentation.Models.GroupDisciplineViewModel>
@{
	ViewBag.Title = "Дисциплины в группах";
}

<div class="col-md-10 col-md-offset-1">
	@Html.ActionLink("Создать", "Create", "GroupDiscipline", new { @class = "btn btn-default margin-bottom" })

	<table class="table table-bordered table-striped">
		<tr>
			<th class="text-center">Группа
			</th>
			<th class="text-center">Предмет
			</th>
			<th class="text-center">Доступные действия</th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td class="text-center">
					@Html.DisplayFor(modelItem => item.Group)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.AcademicDiscipline)
				</td>
				<td class="text-center">
					@Html.ActionLink(Constants.Edit, "Edit", new {id = item.Id}) | @Html.ActionLink(Constants.Delete, "Delete", new {id = item.Id})
				</td>
			</tr>
		}
	</table>
</div>
