@model IEnumerable<MSHRCS.Presentation.Models.GroupDisciplineViewModel>
@{
	ViewBag.Title = "Дисциплины в группах";
}

<h2>Дисциплины в группах</h2>

<p>
	@Html.ActionLink("Создать", "Create", "GroupDiscipline", new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered table-striped">
	<tr>
		<th>Группа
		</th>
		<th>Дисциплина
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
 {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Group)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.AcademicDiscipline)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
			</td>
		</tr>
 }

</table>
