@model IEnumerable<MSHRCS.Presentation.Models.AcademicDisciplineViewModel>
@{
    ViewBag.Title = "Предметы";
}

<div class="col-md-10 col-md-offset-1">
    @Html.ActionLink("Создать новый предмет", "Create", "AcademicDisciplines", new { @class = "btn btn-default margin-bottom" })

    <table class="table table-bordered table-striped">
        <tr>
            <th>Код
            </th>
            <th>Название
            </th>
            <th>Доступные действия</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
</div>
